.feature-item {
    position: relative;
    padding-bottom: 1.5rem;

    @mixin atSmall {
        padding-left: 94px;
    }

    &__icon {
        display: block;
        margin: 0 auto;

        @mixin atSmall {
        position: absolute;
        left: 0;
    }
}

    &__title {
        font-weight: 300;
        font-size: 1.6rem;
        margin-bottom: .5em;
        text-align: center;

        @mixin atSmall {
            text-align: left;
            font-size: 1.875rem;
            margin-bottom: 1em;
        }
    }
}